.team-phrase{
    width: 80%;
    color: #737373;
    font-weight: 500;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    font-style: italic;
}

.sobreNos-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 6.25rem;
}